<!doctype html>
<html ng-app="chucknorris">
<head>
	<title>You Too Can Be Chuck Norris</title>
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css"></link>
	<script src="js/angularmin.js"></script>
	<script src="js/app.js"></script>
</head>
<body>
	<div class="text-center">
		<h1>Think you can be Chuck Norris?</h1>
	</div>
	</br>
	<div ng-controller="getRandomFact" class='col-md-6 text-center'>
		<input type="button" ng-click="getChuckQuote()" value="Get Quote!" />
		<form ng-submit="getCustomQuote()">
			<input type="text" ng-model="person.first_name" required>
			<input type="text" ng-model="person.last_name" required>
			<input type="submit" value="Get Quote!" />
		</form>
		</br>
		{{ quote }}
		</br>
		<input type="button" ng-click="saveQuote()" value="Save Quote"></input>
	</div>
	<div class='col-md-6 text-center' ng-model="quotes" ng-controller="showQuotes">
		<h1>Your Saved Quotes</h1>
		<div>
			<ul>
				<li ng-repeat="quote in quotes">{{quote}} -- <a ng-click="removeQuote()">remove</a></li>

			</ul>
		<div>
	</div>
</body>
</html>